/* src/components/main/orcamentos/orcamento/graficos/grafico-tempo/GraficoTempo.module.css */

.pieSegment {
  transition: transform 0.3s ease, opacity 0.3s ease;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3));
}

.pieSegment:hover {
  transform: scale(1.02); /* Efeito de aumento ao passar o mouse */
  opacity: 0.8
}

.svgGraphic {
  width: 11rem;
  height: 11rem;
}

.pPercent{
  margin-top: 0.5rem;
}