/* components/footer/center-block/CenterBlock.module.css */

.centerBlock{
  color: var(--colorPrimary);
}

.centerBlock h1{
  font-size: var(--fontSize-h1);
}

.centerBlock h2{
  font-size: var(--fontSize-h1);
}

.wrapLogo{
  margin-bottom: 2rem;
}

.wrapCopy{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logoH1{
  font-weight: 700;
}

.iconCopy{
  height: 1rem;
  width: 1rem;
  color: var(--colorPrimary);
}

.wrapCopy h2{
  margin-right: 0.2rem;
}

.copyH1{
  font-weight: 600;
}