/* src/utils/controls-elements/ControlsElements.module.css */

.wrapButtons{
  display: flex;
  width: fit-content;
  align-items: center;
}

.customButtom{
  margin-inline-end: 0.7rem;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  height: fit-content;
  position: relative;
}

.customButtom svg{
  width: 1rem;
  height: 1rem;
  color: var(--colorPrimary);
}

.customButtom svg:hover{
  color: var(--colorPrimaryHover);
  cursor: pointer;
}

.wrapSearch{
  border: 0.15rem solid var(--colorPrimary);
  border-radius: 0.5rem;
  padding: 0.2rem;
}