.inputSearch{
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: var(--colorPrimary);
  font-size: var(--fontSize-h2);
}

.inputSearch::placeholder{
  color: var(--colorPrimaryHover);
}

.buttonSearch{
  border: none;
  background-color: rgba(0, 0, 0, 0);
  padding-right: 0.1rem;
}

.buttonSearch svg{
  color: var(--colorPrimary);
}

.buttonSearch svg:hover{
  color: var(--colorPrimaryHover);
  cursor: pointer;
}