/* src/components/main/orcamentos/Orcamentos.module.css */

.wrapOrcamentos {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.loader {
  text-align: center; 
  font-size: 1.2rem; 
  margin: 1rem 0;
  color: var(--colorPrimary);
}