.main{
  margin-top: var(--headerHeight) !important;
  padding: var(--paddingLatPadraoHeaderMainFooter);
  width: 100%;
  margin: auto;
  z-index: 99;
  position: relative;
}

.wrapMainContent{
  max-width: var(--allContentWidth);
  margin: auto;
}

.wrapMainContent p{
  text-align: justify;
}