/* src/components/header/right-block/navigation-menu/NavigationMenu.module.css */

.menu {
  position: absolute;
  text-align: left;
  top: 3.7rem;
  right: 0.00001rem;
  background-color: white;
  border: var(--borderBox);
  box-shadow: var(--boxShadow);
  z-index: 111;
  padding: var(--paddingBlocksComps);
  border-radius: var(--borderRadiusBlocks);
}

.menu li {
  margin: var(--spaceBetweenLines);
}

.menu li button {
  text-align: left;
}

.linkOptMenu{
  text-decoration: none;
  color: var(--colorPrimary);
  cursor: pointer;
}

.linkOptMenu:hover{
  transition: 0.2s;
  color: var(--colorPrimaryHover);
}

.closeButton {
  display: flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: var(--fontSize-h1);
  margin-left: auto !important;
  color: var(--colorPrimary);
  font-weight: bold;
  transition: color 0.2s;
}

.closeButton:hover {
  color: var(--colorPrimaryHover);
}