.header{
  z-index: 100;
  position: fixed;
  width: 100%;
  padding: var(--paddingLatPadraoHeaderMainFooter);
  border-bottom: var(--borderBox);
  max-height: 6.2rem;
  background-color: var(--bgWhite);
}

.containerHeaderBlocks{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  max-width: var(--allContentWidth);
}