/* src/components/main/orcamentos/orcamento/graficos/grafico-gastos/GraficoGastos.module.css */

.pieSegment {
  transition: transform 0.3s ease, opacity 0.3s ease; /* Transição suave */
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3)); /* Sombra */
}

.pieSegment:hover {
  transform: scale(1.02); /* Efeito de aumento ao passar o mouse */
  opacity: 0.8; /* Efeito de opacidade ao passar o mouse */
  color: #8d7408;
}

.svgGraphic{
  width: 11rem;
  height: 11rem;
}

.legenda h2{
  font-size: var(--fontSize-h2);
}

.legenda h3{
  font-size: var(--fontSize-h2);
}

.legenda p{
  font-size: var(--fontSize-p);
}
