/* components/footer/Footer.module.css */

.foot{
  min-height: 120px;
  border-top: var(--borderBox);
  margin-top: auto;
  padding: var(--paddingLatPadraoHeaderMainFooter);
  color: var(--colorPrimary);
}

.foot p{
  color: var(--bgBlack);
}

.wrapFootBlocks{
  display: flex;
  text-align: center;
  max-width: var(--allContentWidth);
  margin: auto;
}

.footBlocks{
  width: 33.33%;
}