/* src/components/main/orcamentos/orcamento/graficos/infos-orcamento/InfosOrcamento.module.css */

.wrapH2{
  width: 49.7%;
  margin-top: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: rgb(182, 198, 207);
  box-shadow: var(--boxShadow);
  border: 0.1rem solid rgb(185, 186, 188);
}

.wrapH2 h2{
  font-size: var(--fontSize-h2);
}

.spanH2{
  font-size: var(--fontSize-p);
  font-weight: 400;
  margin-left: 0.3rem;
}

.wrapGrafico{
  margin-top: 1rem;
}

.wrapGrafico svg{
  display: flex;
  margin-inline: auto;
}